main {
	width: 95%;
	margin: auto;
}

/* Font definition*/

/* #region  Font */
@font-face {
	font-family: "raleway";
	src: url("font/Raleway-VariableFont_wght.ttf") format("truetype-variations"),
		url("font/Raleway-Bold.woff") format("woff");
	font-weight: 700;
}

@font-face {
	font-family: "raleway";
	src: url("font/Raleway-VariableFont_wght.ttf") format("truetype-variations"),
		url("font/Raleway-Light.woff") format("woff");
	font-weight: 300;
}

body {
	font-family: "raleway", arial, sans-serif;
	font-weight: 300;
}

h1,
h2 {
	font-size: 22px;
	font-weight: 700;
}
h3 {
	font-weight: 700;
	font-size: 18px;
}

h4 {
	font-weight: 700;
	font-size: 16px;
}
p,
a {
	font-size: 16px;
}
a {
	text-decoration: none;
	color: black;
}
li p {
	font-size: 12px;
}
strong {
	font-weight: 700;
}
/* #endregion */

/*header formatting*/

/* #region  Header */
header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}
header nav a {
	display: inline-block;
	margin: 0;
	padding: 30px 15px 0px 15px;
}
header nav a {
	font-weight: 300;
}
header nav a:last-child {
	color: #0065fc;
	font-weight: 700;
}
header nav a:last-child:hover {
	border: none;
}

header nav a:hover {
	border-top: solid;
	border-color: #0065fc;
	color: #0065fc;
}
/* #endregion */

/* search section formatting*/

/* #region  Search */
#recherche h1 {
	margin-bottom: 5px;
	padding-bottom: 0px;
}
#recherche p {
	margin-top: 0px;
	padding-top: 0px;
}
section form {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
label {
	background-color: #f2f2f2;
	padding: 15px;
	margin: 0px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	border: 2px solid #f2f2f2;
	text-align: center;
}
label i {
	font-size: 18px;
}
section input {
	font-family: "raleway", arial, sans-serif;
	font-weight: 700;
	font-size: 17px;
}
input[type="button"] {
	padding: 15px;
	margin: 0px;
	border: 2px solid #0065fc;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	color: white;
	background-color: #0065fc;
}
input[type="search"] {
	padding: 15px;
	margin: -5px;
	border: 2px solid #f2f2f2;
	color: black;
}
input[type="search"]::placeholder {
	opacity: 1;
}

section nav {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
section nav ul {
	display: flex;
	align-items: center;
	flex-wrap:wrap;
}

section nav li {
	margin: 0 40px 0 0px;
	padding: 10px 15px 10px 50px;
	border: 3px solid #f2f2f2;
	border-radius: 30px;
}

nav i {
	color: #0065fc;
	background-color: #deebff;
	padding: 12px 5px 12px 5px;
	margin-top: -12px;
	margin-left: 30px;
	margin-right: 0px;
	font-size: 1.2em;
	border-radius: 50%;
}

nav a {
	font-weight: 700;
	white-space: nowrap;
}

nav li:hover {
	background-color: #0065fc;
	transform: scale(1.2);
}
nav li:hover a {
	color: white;
}

#recherche p:last-of-type i {
	color: #0065fc;
	font-size: 12px;
	padding: 4px 7px 4px 7px;
	border: 2px solid #f2f2f2;
	border-radius: 50%;
}
/* #endregion */

/* Accomodation section formatting*/

/* #region  Accomodation section */
#hebergement {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	column-gap: 10px;
	row-gap: 10px;
}

article,
aside {
	background-color: #f2f2f2;
	border-radius: 20px;
}

figure:hover {
	transform: scale(1.05);
}

li h4,
li p {
	margin: 0px;
	padding: 0;
}

.fa-star {
	margin-left: -3px;
	padding: 0;
	color: #0065fc;
	font-size: 12px;
}
.grey {
	color: #f2f2f2;
}
/* #endregion */

/* Accomodation Article formatting*/

/* #region  Article */
article {
	box-sizing: border-box;
	width: 65%;
	min-width: 335px;
	padding: 0px 40px;
	margin: 0;
}

h2 {
	padding-top: 30px;
}

article ul {
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	column-gap: 10px;
}

article li {
	list-style-type: none;
	width: 30%;
	min-width: 255px;
	height: 204px;
	margin: 15px 0px 15px 0px;
}
article figure {
	box-sizing: border-box;
	background-color: white;
	height: 100%;
	width: 100%;
	box-shadow: 0px 2px 10px #c4c4c4;
	border: solid white 5px;
	border-radius: 20px;
	margin: 0;
	padding: 0;
}

article li img {
	width: 100%;
	height: 114px;
	object-fit: cover;
	border-top-left-radius: 18px;
	border-top-right-radius: 18px;
}

article figcaption {
	height: calc(100% - 114px);
	margin-left: 12px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

article figcaption p:last-child {
	padding-left: 3px;
}
/* #endregion */

/*accomodation aside formatting */

/* #region  Aside */
h2 i {
	float: right;
}

aside {
	box-sizing: border-box;
	width: 31%;
	min-width: 320px;
	padding: 0px 35px;
	margin: 0;
}

aside ul {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
}

aside li {
	list-style-type: none;
}

aside figure {
	box-sizing: border-box;
	width: 100%;
	min-width: 250px;
	/* min-width: 346px; */
	height: 150px;
	margin: 15px 0;
	padding: 0;
	background-color: white;
	border: solid white 5px;
	border-radius: 20px;
	display: flex;
	flex-direction: row;
	box-shadow: 0px 2px 10px #c4c4c4;
}

aside img {
	height: 100%;
	min-width: 127px;
	width: 127px;
	object-fit: cover;
	border-top-left-radius: 18px;
	border-bottom-left-radius: 18px;
}

aside figcaption {
	margin: 15px 5px 8px 15px;
	position: relative;
}

.etoile {
	position: absolute;
	bottom: 0;
	left: 3px;
}

aside figcaption p:first-of-type {
	padding: 10px 0px;
}
/* #endregion */

/* Activity section formatting */

/* #region Activity   */
#activite {
	width: 100%;
	margin: 0;
	padding: 0;
}
#activite ul {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, minmax(306px, 1fr));
	grid-template-rows: 200px 40px 40px 170px;

	column-gap: 40px;
	row-gap: 0px;
	margin: 0;
	padding: 0;
}
#activite ul li:nth-child(1) {
	grid-column: 1/2;
	grid-row: 1/5;
}
#activite ul li:nth-child(2) {
	grid-column: 2/3;
	grid-row: 1/3;
}
#activite ul li:nth-child(3) {
	grid-column: 2/3;
	grid-row: 4/5;
}
#activite ul li:nth-child(4) {
	grid-column: 3/4;
	grid-row: 1/5;
}
#activite ul li:nth-child(5) {
	grid-column: 4/5;
	grid-row: 1/2;
}
#activite ul li:nth-child(6) {
	grid-column: 4/5;
	grid-row: 3/5;
}

#activite li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#activite figure {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 20px;
	box-shadow: 0px 2px 10px #c4c4c4;

	min-width: 306px;
	display: flex;
	flex-direction: column;
}
#activite figure img {
	width: 100%;
	height: calc(100% - 58px);
	object-fit: cover;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
#activite figcaption {
	height: 58px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#activite h4 {
	padding-left: 20px;
}
/* #endregion */

/* Footer formatting */

/* #region  Footer */
footer {
	width: 100%;
	background-color: #f2f2f2;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin-top: 50px;
	padding: 45px 2.5%;
}

footer h3 {
	margin-top: 0px;
	padding-top: 0px;
}

footer ul {
	margin: 0;
	padding: 0;
}
footer li {
	list-style-type: none;
	margin: 0 0 10px 0;
	padding: 0;
}
/* #endregion */
